.App {
  text-align: center;
  background-image: url(./img/wpdonjon.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: white;
  height: 100vh;
  top: 0;
  margin: 0 !important;
}

.title{
  margin: 0;
  padding-bottom: 30px;
}

.App-logo {
  height: 30vh;
  width: 95vw;
  pointer-events: none;
  background-image: url(./img/dragon.png);
  background-position: right;
  background-size: 43vh;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
}

.reponse{
  width: 80%;
  border-radius: 15px;
  background-color: lightgray;
  color: black;
  margin: auto;
  overflow: scroll;
}
